@page "/configuresetting"
@using BlazorClientAssembly1.Configuration
@inject AppSettings appsetting

<h3>ConfigureSetting</h3>

<p>
    Admin EMail is:@appsetting.AdminEMail
</p>
<p>
    User Name:@appsetting.UserChtName
</p>
<p>
    Title:@appsetting.Title
</p>

@code {

}
